REPLICATE_API_TOKEN=your-replicate-key
OPENAI_API_KEY=your-openai-key 
GOOGLE_APPLICATION_CREDENTIALS=path-to-google-cloud-json-credentials
GCS_BUCKET=google-cloud-storage-bucket-with-public-permissions
