aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
comm
debugpy
decorator
defusedxml
distro
docstring-parser
executing
fastjsonschema
fqdn
frozenlist
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
h11
httpcore
httpx
idna
instructor
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mlx
multidict
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
openai
overrides
packaging
pandas
pandocfilters
parso
pexpect
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-json-logger
pytube
pytz
PyYAML
pyzmq
referencing
regex
replicate
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
Send2Trash
six
sniffio
soupsieve
stack-data
tenacity
terminado
tinycss2
tornado
tqdm
traitlets
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
yarl
